{% extends 'base.html.twig' %}

{% block title %}Overons{% endblock %}

{% block body %}
<div class="container-fluid px-0 row mx-0">
    <div class=" col-12 d-grid py-md-5 py-sm-5 d-flex align-items-center ps-5 " style="background: linear-gradient(
          rgba(0, 0, 0, 0.7),
          rgba(0, 0, 0, 0.7)
        ), url('{{ asset('img/rozenOverOns.png')}}') no-repeat center; background-size: cover">
        <div class="">
            <h2 class="my-4 fs-1 py-md-5 py-3 text-white text-sm-center fw-bold">
                Ontdek De Schoonheid van de Natuur
            </h2>
        </div>
    </div>
    <div class=" ps-5 my-5 " style="background-color: antiquewhite">
        <div class=" container-fluid py-5 row justify-content-center ">
            <div class="col-sm-12 col-md-6 d-grid gab-0 align-items-center text-center">
                <small class="fs-5 text-success text-center">Know us</small>
                <p class=" fs-2 mt-1 fw-bold ">Blijdschap verspreiden via bloemen</p>
                <p class="fs-3 fw-light">
                    Wij halen prachtige en verse lokale en buitenlandse bloemen om je te voorzien van de mooiste bloemen van over de hele wereld. We veranderen ze in aantrekkelijke met de hand gemaakte boeketten die de harten van je geliefden direct veroveren. Boeketten voor alle gelegenheden
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mb-3 p-0">
    <h2 class="fs-1 fw-bold text-center mb-4 pb-md-5 col-12 ">
        Maak elke gelegenheid speciaal met kleurrijke bloemen
    </h2>
    <div class="row">
        <div class="col-md-6 col-sm-12 text-center row d-flex align-items-center" style="background-color: antiquewhite">
            <div class="">
                <p class="fs-3 fw-bold">Manolya Flowers</p>
                <!-- formsubmit.co/ -->
                <p class="fs-2">Leyweg 539 W</p>
                <p class="fs-4">2545GG 's-Gravenhage</p>
                <p class="fs-4"><i class="bi bi-telephone"></i> Turan Kaya</p>
                <p class="fs-4"><i class="bi bi-telephone"></i> +31 6 87774682</p>
                <p class="fs-4"><i class="bi bi-envelope"></i>  turankaya23@icloud.com</p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 ">
            <iframe class="w-100 "  width="600" height="450"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d153.35191876584312!2d4.2738873936938!3d52.05003866896351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b1388275f569%3A0x26e0ad6d0af6ccd6!2sLeyweg%20539W%2C%202545%20GG%20Den%20Haag!5e0!3m2!1snl!2snl!4v1693387700376!5m2!1snl!2snl"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>
{% endblock %}
